/* Styles for the container */
#search-container {
  display: flex; /* Use flex display */
  gap: 1rem; /* Space between input bars */
  justify-content: center; /* Center the search bars horizontally */
  align-items: center; /* Center the search bars vertically */
  padding: 20px;
}

/* Styles for the forms */
.search-form {
  margin: 0; /* Remove default margin */
}

/* Styles for the input container */
.input-container {
  display: flex; /* Use flex display */
  align-items: center; /* Align items in the center */
  border: 1px solid rgb(90, 90, 90);
  border-radius: 20px; /* Make container rounded */
  padding: 5px 10px; /* Adjust padding */
  width: 320px; /* Adjust width to fit the input and padding */
  position: relative; /* Ensure icons are positioned relative to container */
  margin-left: 4rem;
}

/* Styles for the input fields */
.search-input {
  height: 2rem; /* Set height */
  width: 300px; /* Set width */
  padding-left: 3rem; /* Increase left padding for more space */
  border: none; /* Remove border */
  border-radius: 20px; /* Make input fields rounded */
 
}

/* Style the icons */
.input-icon {
  position: absolute;
  left: 10px;
  color: #aaa;
}

/* Remove border from individual inputs */
#info-input,
#location-input {
  border: none;
  padding: 0px 40px;
}

/* Add focus effect */
.search-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

/* Add hover effect */
.search-input:hover {
  border: 1px solid rgba(81, 203, 238, 0.5);
}
