/* login.css */

/* Form container */
form {
    width: 80%;
    margin: 0 auto;
    text-align: center; /* Center-align the content within the form */
  }
  
  /* Table container */
  .table-container {
    display: inline-block; /* Ensures that the table is centered */
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* Center the table */
    border: 2px solid #000; /* Black border around the table */
  }
  
  /* Table header styles */
  th {
    background-color: #2196F3; /* Blue header background */
    color: #fff; /* White text color */
    text-align: left;
    padding: 8px;
  }
  
  /* Table row styles */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Table cell styles */
  td {
    padding: 8px;
  }
  
  /* Input field styles */
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Checkbox container */
  .checkbox-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Checkbox label styles */
  .checkbox-container label {
    margin-right: 20px;
  }
  #admin{
    text-align: center;
  }
  
  /* Submit button styles */
  button[type="submit"] {
    background-color: #4caf50; /* Green submit button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Submit button hover effect */
  button[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  